{% extends 'main.html' %}
{% load staticfiles %}
{% block main_title %}Орнаментум - {{ product.product_type.name }} {{ product.title }}{% endblock %}
{% block article %}
	<div class="row">
		<div class="large-2 columns">
			<img src="http://placehold.it/400x300&text=[img]">
			<br>
			<img src="http://placehold.it/400x300&text=[img]">
			<br>
			<img src="http://placehold.it/400x300&text=[img]">
			<br>
			<img src="http://placehold.it/400x300&text=[img]">
		</div>
		<div class="large-5 columns">
			<img src="{{ product.main_image.file.url }}">
		</div>
		<div class="large-5 columns">
			<h4><b>{{ product.title }}</b></h4>
			<h6>Ширина: {{ product.width}}</h6>
			<h6>Высота: {{ product.height}}</h6>
			<p>{{ product.description }}</p>
			<p>Наличие: <i class="{% if product.is_available %}fi-battery-full{% else %}fi-battery-empty{% endif %}"></i></p>
			<div class="panel">
				<h5>Header</h5>
				<h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
				<a href="#" class="small button">Купить</a>
			</div>
		</div>
	</div>
	<div class="row">
		<hr/>
		<div class="large-6 columns">
			<h4>This is a content section.</h4>
			<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>
		<div class="large-6 columns">
			<h4>This is a content section.</h4>
			<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
		</div>
	</div>
	<div class="row">
		<hr>
		<div class="large-12 columns">
			<h4>Вам также может понравиться:</h4>
			<img src="http://placehold.it/200x150&text=[img]">
			<img src="http://placehold.it/200x150&text=[img]">
			<img src="http://placehold.it/200x150&text=[img]">
			<img src="http://placehold.it/200x150&text=[img]">
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
	<script>
	$(document).foundation();
	</script>
{% endblock %}